body{
    background-color: #22222279;
}
section{
    display: flex;
    margin-top: 20px;
    justify-content: center;
}
article{
    margin: 30px;
    box-shadow: 0px 0px 5px 5px  black ;
    background-color: rgba(216, 216, 216, 0.596);
}    
img{
    width: 180px;
}
h4, span{
    margin: 0px;
    padding: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
}
h4{
    margin-top: 20px;
    width: 150px;
}
article:hover{
    box-shadow: 0px 0px 10px 10px  black ;
    transform: scale(1.1);
}
span{
    display: flex;
    width: 170px;
}