/* Fuente */
*{
    font-family: sans-serif;
    color: rgb(145, 145, 145);
}
/* barra amarillenta de la izquierda de cada fila 
    background-color: rgba(202, 204, 101, 0.603);
    width: 3px;
*/

/* Alternar fondo blanco y gris */
tr:nth-child(even){
    background-color: rgba(204, 204, 204, 0.315);
}
/* THEAD */
th, span{
    font-weight: bold;
    padding: 10px;
}
caption{
    padding: 10px;
}
th{
    border-bottom: 3px solid red;
}
/* TMAIN */
table{
    width: 1000px;
    border-collapse: collapse;
    margin: auto;
    text-align: center;
}
td:nth-child(3){
    text-align: left;
}
p{
    font-weight: bolder;
    border-left: 3px solid rgba(202, 204, 101, 0.603);
    margin: 0px;
    margin-left: 3px;
    padding: 7px;
}
img{
    padding-right: 10px;
    padding-left: 20px;
}